.row{
    color: #fff;
}
.p-title{
    margin-top: 0.3em;
    padding-left: 0.4em;
}
.posters{
    display: flex;
    padding: 0.6em;
    overflow-y: hidden;
    overflow-x: scroll;
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    max-height: 15em;
    margin-right: 1.5em;
    border-radius: 0.2em;
}
.poster-small{
    max-height: 15em;
    margin-right: 1.5em;
    border-radius: 0.2em;
}
.youtube{
    margin: auto;
    max-width: 70em;
    border-radius: 0.5em;
}
.poster:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.poster-small:hover{
    cursor: pointer;
    transform: scale(1.1);
}